@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (max-width: 640px) {
    .titre {
      font-size: 13px;
    }
    .description {
      font-size: 11px;
    }
  }
  @media (max-width: 1800px) {
    .titre {
      font-size: 13px;
    }
    .description {
      font-size: 12px;
    }
  }
  @media (min-width: 2450px) {
    .titre {
        font-size: 18px;
    }
    .description {
      font-size: 17px;
    }
  }
  .test {
    transform: scale(1.3);
  } */
  /* Téléphones */
@media (max-width: 767px) {
  .titre {
      font-size: 13px;
  }
  .description {
      font-size: 11px;
  }
}

/* Petits écrans */
@media (min-width: 768px) and (max-width: 991px) {
  .titre {
      font-size: 13px;
  }
  .description {
      font-size: 12px;
  }
}

/* Écrans moyens */
@media (min-width: 992px) and (max-width: 1199px) {
  .titre {
      font-size: 15px; /* Ajustez la taille en conséquence */
  }
  .description {
      font-size: 14px; /* Ajustez la taille en conséquence */
  }
}

/* Grands écrans */
@media (min-width: 1200px) {
  .titre {
      font-size: 13px;
  }
  .description {
      font-size: 13px;
  }
}

/* Éventuellement, ajoutez ici une règle générale pour les écrans plus grands */
